body {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: #EEE;
}


.one{

    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.two {
    display: block;
    margin-top: 380px;
    background: url(http://s33.postimg.org/5otqjzvgf/main_header_bg.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.three  {
    background-color: #FAFAFA;
    height: 380px;
    width: 500px;
    margin-left:830px;
    margin-right:auto;
    margin-top: -1px;
    padding: 25px 35px;
    top: 50%;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}

.four {
    background-color: #FAFAFA;
    height: 320px;
    width: 513px;
    margin-left:247px;
    margin-right:auto;
    margin-top: 1px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.five {
    background-color: #FAFAFA;
    height: 320px;
    width: 500px;
    margin-left:830px;
    margin-right: auto;
    margin-top: 0px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.partners {
    background-color: #FFFFFF;
    height: 470px;
    width: 1084px;
    margin-left: -619px;
    margin-right: auto;
    margin-top: 116px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.apply {
    background-color: #FA9026;
    height: 390px;
    width: 1084px;
    margin-left: -619px;
    margin-right: auto;
    margin-top: 0px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
.applyfaq {
    background-color: #FA9026;
    height: 390px;
    width: 1084px;
    margin-left: -36px;
    margin-right: auto;
    margin-top: 64px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
.applynews {
    background-color: #FA9026;
    height: 390px;
    width: 1084px;
    margin-left: -36px;
    margin-right: auto;
    margin-top: 64px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.applypart {
    background-color: #FA9026;
    height: 390px;
    width: 1084px;
    margin-left: -36px;
    margin-right: auto;
    margin-top: 73px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}
.footer {
    background-color: #383838;
    height: 390px;
    width: 1154px;
    display: block;
    margin-left: 246px;
    margin-top: 960px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}

.faqtwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/yxdrfzddr/faq_header_bg.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}
.partnerstwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/5otqjzvgf/main_header_bg.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;
}
.participantstwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/hzse6pipr/Air_Brush_20160531162122222.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;
}
.newstwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/vrvwy0oe7/news_header_bg.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}
.faqintro {
    background-color: #FFFFFF;
    height: 3150px;
    width: 1083px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 0px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}
.newsintro {
    background-color: #FFFFFF;
    height: 1510px;
    width: 1083px;
    margin-left: 0px;
    margin-right: auto;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}

.partintro {
    background-color: #FFFFFF;
    height: 1590px;
    width: 1083px;
    margin-left: 0px;
    margin-right: auto;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}


.faqfooter {
    margin-left: -247px;
    margin-top: -756px;
}
.newsfooter {
    margin-left: -247px;
    margin-top: -520px;
}
.logo {
    left: 280px;
    position: absolute;
    top: 22px;
    width: 150px;
    display: block;

}
.logofaq {
    position: absolute;
    left: 280px;
    top: 22px;
    width: 150px;
    display: block;

}


.dude {
    margin-left:auto;
    margin-right:auto;



}
.faqpic {
    position: relative;
    margin-left:auto;
    margin-right:auto;
    -webkit-filter: grayscale(30%);
}
.heading {
    font-family: "Courier New",Courier,monospace;
    font-size: 38px;
    width: 480px;
    color: #f6f6f6;
    cursor: default;
    line-height: 1.2;
    position: relative;
    text-shadow: 0 0 1px #111;
    font-style: normal;
    font-weight: 300;
    left: 44%;
    text-align: start;
    margin-top: -380px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 90px;



}
.faqheading {
    font-family: "Courier New",Courier,monospace;
    font-size: 42px;
    width: 520px;
    color: #f6f6f6;
    cursor: default;
    line-height: 1.2;
    position: relative;
    text-shadow: 0 0 1px #111;
    font-style: normal;
    font-weight: 300;
    left: 44%;
    text-align: center;
    margin-top: -250px;
    margin-left: -170px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 160px;


}

.faqheading2 {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    left: 50%;
    padding-bottom: 18px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-left: 510px;
}


.about {
    flex: 70%;
    padding-right: 60px;
    margin: 0;
    display: block;
}

.aboutheading {
    margin-top: 100px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    left: 50%;
    padding-bottom: 18px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-left: 310px;
}

.newssheading {
    font-family: "Courier New",Courier,monospace;
    font-size: 42px;
    width: 520px;
    color: #f6f6f6;
    cursor: default;
    line-height: 1.2;
    position: relative;
    text-shadow: 0 0 1px #111;
    font-style: normal;
    font-weight: 300;
    left: 44%;
    text-align: center;
    margin-top: -250px;
    margin-left: -180px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 210px;


}
.newsheading2 {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    left: 50%;
    padding-bottom: 18px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-left: 390px;
}
.questionfaq {
    color: rgba(61,61,61,.55);
    font-size: 20px;
    margin: 35px 0 8px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: 40px;
    text-rendering: optimizeLegibility;
    margin-left: 75px;

}
.faqanswer {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    padding: 0;
    display: block;
    color: #6d6d6d;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 75px;

}
.newsheading {
    color: rgba(61,61,61,.55);
    font-size: 20px;
    margin: 35px 0 8px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: 40px;
    text-rendering: optimizeLegibility;
    margin-left: 0px;


}
.newsheading3 {
    color: rgba(61,61,61,.55);
    font-size: 20px;
    margin: 35px 0 8px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: 40px;
    text-rendering: optimizeLegibility;
    margin-left: 60px;


}
.newstext {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    padding: 0;
    display: block;
    color: #6d6d6d;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 30px;
    padding-right: 90px;
    padding-left: 30px;
    margin-top: 60px;
}

.sub-heading {

    font-size: 26px;
    width: 400px;
    color: #f6f6f6;
    cursor: default;
    left: 44%;
    line-height: 1.2;
    position: relative;
    text-shadow: 0 0 1px #111;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.homep {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    padding: 0;
    display: block;
    color: #6d6d6d;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
    text-align: justify;
}

.highlight {
    font-weight: 500;
    text-decoration: underline;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    padding: 0;
    color: #6d6d6d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    line-height: 1.5;
}
.alert {
    color: #FF4136;
    font-weight: 500;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    padding: 0;
    font-family: Roboto,sans-serif;
    font-style: normal;
    line-height: 1.5;
}
.heading3 {
    font-size: 32px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: -410px;


}
.heading4 {
    font-size: 32px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: -310px;

}

.heading5 {
    font-size: 32px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-top: -290px;

}
.Pheading {
    font-size: 32px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-left: 487px;

}
.headingapply {
    color: #fff;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    padding: 60px;
    text-align: center;
    font-size: 2.3125rem;
}
a {
    color: #FA9026;
    line-height: inherit;
    text-decoration: none;
}

.section {
    margin-left: -618px;
    margin-top: -24px;
}

.blackpic {
    margin-left:548px;
    margin-right:auto;
    margin-top: -25px;
    display: block;
}

.nizar {
    display: block;
    margin-left: -619px;
    margin-top: -25px;
}

.quote {
display: block;
font-style: italic;
padding-top: 6px;
text-align: right;
color: rgba(61,61,61,.55);

}

.line {
    color: #FA9026;
    background: #FA9026;
    height: 2px;
    width: 13%;
    margin-left: 20px;
    content: '';
    border: none;

}

.line2 {
    color: #FA9026;
    background: #FA9026;
    height: 2px;
    margin-left: 525px;
    content: '';
    border: none;
margin-top: -10px;
    width: 3.3%;
}
.line3 {
    color: #FA9026;
    background: #FA9026;
    height: 2px;
    margin-left: 447px;
    content: '';
    border: none;
    margin-top: -10px;
    width: 20%;
}


.nordlogo {
    -webkit-filter: contrast(0);
    transform: translateX(-50%);
    left: 50%;
    opacity: .65;
    position: relative;
    width: 210px;
    border: none;
    display: inline-block;
    vertical-align: middle;
}

.omnilogo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 140px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: -110px;
    margin-bottom: -270px;
}

.biddlelogo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 120px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 140px;
    margin-bottom: -270px;
}

.affectologo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 150px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 170px;
    margin-bottom: -250px;
}

.druidlogo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 140px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 970px;
    margin-bottom: -170px;
}

.cloudlogo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 200px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 110px;
    margin-bottom: -310px;
}

.venuulogo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 110px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 78px;
    margin-bottom: -320px;
}

.hellologo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 125px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 179px;
    margin-bottom: -320px;
}

.fraktiologo {
    -webkit-filter: contrast(0);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 182px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 970px;
    margin-bottom: -290px;
}

.ritelogo {
    -webkit-filter: grayscale(100%);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 125px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 155px;
    margin-bottom: -390px;
}
.startuplogo {
    -webkit-filter: grayscale(100%);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 90px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 250px;
    margin-bottom: -450px;
}

.putherelogo {
    -webkit-filter: grayscale(10%);
    transform: translate(-50%, -50%);
    left: 50%;
    opacity: .65;
    width: 250px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 950px;
    margin-bottom: -450px;
}



.footerUl ul{

    text-align: center;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto,sans-serif;
    font-style: normal;
    line-height: 25.6px;
    word-spacing: 0px;
    background-position: 0%;
    list-style-type: none;
    list-style-position: outside;
    box-sizing: border-box;
    padding-top: 30px;
    text-transform: uppercase;
}
.footerUl ul li{
    display: inline;
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-top: 50px;

}
.footerUl ul li a:hover {
    color: #D46C06;
}

.contact{
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
    color:#8B8B8B ;
    background-position: center;
    text-rendering: optimizeLegibility;
    display: block;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
}

.contact a:hover {

    color: #D46C06;


}
.address{
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    color:#8B8B8B ;
    display: block;
    background-position: center;
    text-rendering: optimizeLegibility;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
}
.follow{
    text-align: center;
    color:#8B8B8B ;
    border-bottom: 1px solid rgba(250,144,38,.5);
    display: inline-block;
    font-size: 16px;
    font-style: italic;
    margin-left: 500px;

    background-position: center;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.5;


}

.copyright{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    color:#8B8B8B ;
    padding-top: 30px;
    margin-top: 20px;

    background-position: center;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    line-height: 1.5;

}





.buttons {
    margin-left: 640px;
margin-top: -41px;

}

.facebook {
    padding-right: 20px;
    margin-left: -57px;
}
.twitter {
    margin-left: -10px;
    padding-left: 0px;

}
.twitter a:hover {
    margin-left: -10px;
    padding-left: 0px;
    color: #D46C06;

}



.eyastwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/qk6ywf2bj/eyasimage.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}

.eyasheading {
    font-family: "Courier New",Courier,monospace;
    font-size: 42px;
    width: 520px;
    color: #f6f6f6;
    cursor: default;
    line-height: 1.2;
    position: relative;
    text-shadow: 0 0 1px #111;
    font-style: normal;
    font-weight: 300;
    left: 44%;
    text-align: center;
    margin-top: -250px;
    margin-left: -170px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-top: 160px;



}

.short-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    display: block;
    color: #6d6d6d;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    text-align: start;
    margin-left: 310px;
    margin-top: 20px;
}

.headlineeyas {
    color: rgba(61,61,61,.55);
    font-size: 20px;
    margin: 35px 0 8px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: -30px;
    text-rendering: optimizeLegibility;
    margin-left: 310px;

}

.eyasstory {
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    padding: 0;
    display: block;
    color: #6d6d6d;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 310px;

}

.eyasstoryh {
    color: rgba(61,61,61,.55);
    font-size: 20px;
    margin: 35px 0 8px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: 40px;
    text-rendering: optimizeLegibility;
    margin-left: 0px;

}

.lineeyas {
    color: #FA9026;
    background: #FA9026;
    height: 2px;
    margin-left: 447px;
    content: '';
    border: none;
    margin-top: -10px;
    width: 10%;
}

.eyasimage {
    flex: 30%;
    margin: 0;
    padding: 0;
    display: block;
}

.image-container {
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
    margin-left: 100px;
    margin-top: -1550px;
}

.image-container img {
    margin-left: -65px;
    height: 150px;
    max-width: none;
    display: inline-block;
    vertical-align: middle;
}

.eyasintro {
    background: #FAFAFA;
    height: 1720px;
    width: 1083px;
    margin-left: 0px;
    margin-right: auto;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);

}

.applyeyas {
    background-color: #FA9026;
    height: 390px;
    width: 1084px;
    margin-left: 247px;
    margin-right: auto;
    margin-top: 1400px;
    padding: 25px 35px;
    display: block;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.19);
}

.eyasfooter {
    margin-left: 1px;
    margin-top: -960px;

}

.sharmaketwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/t2r1v7oof/sharmake.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}

.sharmakeimage {
    flex: 30%;
    margin: 0;
    padding: 0;
    display: block;
}

.nizartwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s19.postimg.org/xoi5n8lzn/nizar555555.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}

.nizarimage {
    flex: 30%;
    margin: 0;
    padding: 0;
    display: block;
}

.nizarimage img {
    margin-left: 0px;
    height: 150px;
    max-width: none;
    display: inline-block;
    vertical-align: middle;
}

.nabardtwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s19.postimg.org/ti1wlnbrn/nabard.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}

.nabardimage {
    flex: 30%;
    margin: 0;
    padding: 0;
    display: block;
}

.rezatwo {
    display: block;
    box-sizing: border-box;
    margin-top: 250px;
    background: url(http://s33.postimg.org/5otqjzvgf/main_header_bg.jpg) 50% no-repeat;
    background-size: 100% auto!important;
    width:1153px;
    height:450px;

}

.rezaimage img {
    margin-left: -7px;
    height: 160px;
    max-width: none;
    display: inline-block;
    vertical-align: middle;
}

.back-button {
    flex: 100%;
    border: 2px solid #FA9026;
    display: inline-block;
    font-size: 22px;
    font-weight: 400;
    padding: 6px 15px;
    color: #FA9026;
    line-height: inherit;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-style: normal;

}

.participantsheading2 {
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    font-size: 32px;
    left: 50%;
    padding-bottom: 18px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-left: 400px;
}

.linep {
    color: #FA9026;
    background: #FA9026;
    height: 2px;
    margin-left: 447px;
    content: '';
    border: none;
    margin-top: -10px;
    width: 19%;
}

.pnizarimage img {
    margin-left: 0px;
    height: 150px;
    max-width: none;
    display: inline-block;
    vertical-align: middle;
}

.image-containernizar {
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.25);
    height: 150px;
    margin: 0 auto;
    overflow: hidden;
    width: 150px;
    margin-left: 100px;
    margin-top: 100px;
}

.nizarhead {
    font-size: 26px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: .5rem;
    margin-top: .2rem;
    text-rendering: optimizeLegibility;
}

.nizarbref {
    text-align: start;
    display: inline-block;
    font-size: 26px;
    left: 50%;
    padding-bottom: 18px;
    color: #3d3d3d;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 1.4;
    margin-left: 350px;
    margin-top: -200px;
}



.participantsshort {
    font-size: 14px;
    text-rendering: optimizeLegibility;
    display: block;
    color: #6d6d6d;
    cursor: auto;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: 0px;
padding-right: 80px;
}

.participantsh {
    color: rgba(61,61,61,.55);
    font-size: 20px;
    margin: 35px 0 8px;
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    margin-top: 10px;
    text-rendering: optimizeLegibility;
    margin-left: 0px;

}

.linkread {
    font-size: 17px;
    color: #FA9026;
    line-height: inherit;
    text-decoration: none;
    margin-top: 10px;
}